# Logs
logs
*.log
npm-debug.log*

# Deps
node_modules
dist
dist-ssr

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite
*.local

# gh-pages
.cache
